<div class="card hover-shadow-lg">
  <div class="card-body py-3">
    <div class="row row-grid align-items-center">
      <div class="col-lg-8">
        <div class="media align-items-center">
          <div class="avatar avatar-lg rounded-circle mr-3">
            <img alt="Profile picture" [src]="(user$ | async ).profilePicture">
          </div>
          <div class="media-body">
            <h5 class="mb-0">{{ (user$ | async ).firstName }} {{ (user$ | async ).lastName }}</h5>
            <div>
              <form>
                <input type="file" name="file-1[]" id="file-1"
                  class="custom-input-file custom-input-file-link"
                  data-multiple-caption="{count} files selected" multiple />
                <!-- <label for="file-1">
                  <span class="text-white">Change avatar</span>
                </label> -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
        <a *ngIf="!isServiceProvider" routerLink="/account/upgrade" class="btn btn-sm btn-primary rounded-pill btn-icon shadow">
          <span class="btn-inner--icon"><i class="far fa-grin-stars"></i></span>
          <span class="btn-inner--text">Become a Service Provider</span>
        </a>
      </div>
    </div>
  </div>
</div>

<app-calendar></app-calendar>