<div class="main-content">
    <section class="slice slice-xl bg-cover bg-size--cover pb-300" data-offset-top="#header-main" style="background-image: url('../../assets/img/backgrounds/bg-home.jpeg');">
      <span class="mask bg-dark opacity-8"></span>
      <div class="container pt-7">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <h2 class="display-4 text-white mb-2">Giving families a helping hand.</h2>
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <p class="lead text-white lh-180">A place for caregiving professionals to build profiles, 
                    find work and get paid wherever they are.</p>
                  <div _ngcontent-kap-c2="" class="mt-5"><a _ngcontent-kap-c2="" class="btn btn-white rounded-pill" routerLink="/login"><span _ngcontent-kap-c2="" class="btn-inner--text">&nbsp;&nbsp;Login&nbsp;&nbsp;</span></a></div>
                  <div style="height:5%;">&nbsp;</div>
                  <div><a _ngcontent-kap-c2="" class="btn btn-white rounded-pill" routerLink="/register"><span _ngcontent-kap-c2="" class="btn-inner--text">Sign Up</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg pt-lg-0">
      <div class="container">
        <div class="card-group flex-column flex-lg-row">
          <div class="card bg-gradient-primary border-0 px-4 py-5 mt--150">
            <div class="card-body">
              <h5 class="h4 text-white">Find a Service Provider</h5>
              <p class="mt-4 mb-0 text-white">
                We allow you to find qualified service providers for your loved ones wherever you are.
              </p>
            </div>
          </div>
          <div class="card bg-gradient-dark border-0 px-4 py-5 mt--150">
            <div class="card-body">
              <h5 class="h4 text-white">Build a Schedule</h5>
              <p class="mt-4 mb-0 text-white">
                Whether a service provider or a client, you can view your bookings in our calendar.
              </p>
            </div>
          </div>
          <div class="card bg-gradient-primary border-0 px-4 py-5 mt--150">
            <div class="card-body">
              <h5 class="h4 text-white">eCommerce System</h5>
              <p class="mt-4 mb-0 text-white">
                Caremada’s payment system allows for one-click booking and payment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <div class="fluid-paragraph mt-3">
            <p class="lead lh-180">Caremada is a place for caregiving professionals to build profiles, 
              find work and get paid wherever they are. It allows parents, families 
              and members to book and pay for service providers who are fully bonded and 
              have gone through a police records check, whether at home or when 
              traveling anywhere in the world.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg">
      <div class="container no-padding">
        <div class="card-deck">
          <div class="card hover-shadow-lg">
            <div class="card-body">
              <div class="delimiter-bottom pb-3 mb-2">
                <h5 class="mt-2">Search Preferences</h5>
              </div>
              <p class="mb-0">Caremada has searchable functionality by location and date for clients seeking service provider and service providers looking for work.</p>
            </div>
          </div>
          <div class="card hover-shadow-lg">
            <div class="card-body">
              <div class="delimiter-bottom pb-3 mb-2">
                <h5 class="mt-2">Create a Profile</h5>
              </div>
              <p class="mb-0">Quick account creation with verifications, references and reviews.</p>
            </div>
          </div>
          <div class="card hover-shadow-lg">
            <div class="card-body">
              <div class="delimiter-bottom pb-3 mb-2">
                <h5 class="mt-2">Dashboard</h5>
              </div>
              <p class="mb-0">Every user gets access to a dashboard that provides stats on your account.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
